@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Noto+Sans&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: silver;
}

.heading{
    color: white;
}

.main-video{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.main-video .container{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.main-video .container .video{
    background-color: white;
}

.main-video .container .video .subheading{
    background-color: white;
}

.main-video video{
    width: 100%;
    border-radius: 5px;
}

.vidList{
    background-color: white;
    border-radius: 10px;
    height: 520px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.vidList::-webkit-scrollbar{
    width: 10px;
}

.vidList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }

.vidList::-webkit-scrollbar-thumb {
    background: rgb(204, 203, 203);
    border-radius: 10px;
  }

.vidList .video{
    background-color: #f7f7f7;
    margin: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    cursor: pointer;
}

.video:hover{
    background-color: #eee;
}

.video .subheading:hover{
    background-color: #eee;
}

.vidList .active {
    background-color: #2980b9;
}

.active .subheading{
    background-color: #2980b9;
    color: greenyellow;

}

.vidList .video video{
    width: 130px;
}

.vidList .video p{
    background-color: white;
    width: 200px;
}

@media screen and (max-width:991px){
    .main-video{
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    }
}

@media screen and (max-width:798px){
    .main-video{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}